body { background-color: #28292b; }
#content
{
    max-width: 60em;
    margin: auto;
    background-color: #28292b;
    color: #ffffff;
    /* all: initial; */
}

nav.nav {
  text-align: center;
  /* list-style-type: none; */
  /* color: #ffffff; */
  background-color: #18191b;
}

a:link {
  color: #46D0FF;
  /* background-color: yellow; */
}

a:visited {
  color: #0170BF;
}

a.nav-link {
  margin: 15px;
  color: #99BB66;
  background-color: #18191b;
  /* text-decoration: none; */
}

/* title rule */
h1 a {
  color:           #B4916D !important;
  text-decoration: none    !important;
}

.org-src-container pre { color: #000000; font-size: 16px; }

.title     { text-align: center; margin-bottom: .2em; color: #B4916D; }
.subtitle  { text-align: center; font-size: medium; font-weight: bold; margin-top:0; }
.tag       { background-color: #eee; font-family: monospace; padding: 2px; font-size: 80%; font-weight: normal; }
.underline { text-decoration: underline; }
#postamble { text-align: right; }
#postamble p, #preamble p { font-size: 80%; margin: .2em; }
