html { font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif; }
header {
  overflow: clip; /* to clip icons div */
  background-color: #2f2f2f !important;
  padding-top: 2px;
}
nav.nav {
  text-align: center;
  /* list-style-type: none; */
  /* color: #ffffff; */
  background-color: #18191b;
}
a.nav-link { margin: 15px; color: #99BB66 !important; background-color: #18191b; }
body {
    background-color: #1a1a1a;
    max-width: 861px;
    border: 2px solid;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
}
#content {
    max-width: 100%;
    margin: auto;
    background-color: #28292b;
    color: #ffffff;
    padding: 10px 30px 20px 30px;
}

/* hyperlinks */
a         { color: inherit; background-color: inherit; font: inherit; text-decoration: inherit; }
a:hover   { text-decoration: underline; }
a:link    { color: #4db5bd; }
a:visited { color: #4d85bd; }

p    { text-align: justify; text-justify: inter-word; }
code { font-size: 16px; color: #b4916d; }

@font-face {
  font-family: 'DejaVu Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./dejavuserif.woff2) format('woff2');
}

/* title rule */
h1 a {
  color:           #ECBE7B !important;
  text-decoration: none    !important;
  font-weight: normal;
  font-family:     "DejaVu Serif";
}

/* center all headings */
h1 { text-align: center; font-weight: normal;} /* article title */
/* headings in article */
h2 { text-align: left; font-size: 27px; font-weight: 500; margin-top: 10px; }
h2 a { text-decoration: none; color: inherit; font-weight: 500; cursor: inherit; }
h2 a:link, h2 a:visited { text-decoration: none; color: inherit; }
h2 a:hover, h2 a:focus, h2 a:active { text-decoration: underline; }
h3 { font-size: 20px; font-weight: normal; }
h3 a:link, h3 a:visited { text-decoration: none; color: inherit; }
h3 a:hover, h3 a:focus, h3 a:active { text-decoration: underline; }
h4 { font-size: 18px; font-weight: normal; }
h4 a:link, h4 a:visited { text-decoration: none; color: inherit; }
h4 a:hover, h4 a:focus, h4 a:active { text-decoration: underline; }
h5 { text-align: center; }

/* collapsible sections */
h2,h3,h4 {
    cursor:  pointer;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
:is(h2, h3, h4):not(:has(+ div[style*="display: none"]))::after {
    content: '▽'; text-align: right; float: right;
}
:is(h2, h3, h4):has(+ div[style*="display: none"])::after {
    content: '◁'; text-align: right; float: right;
}

/* tables: centered, borders */
table  { margin: auto; border: 1px solid white; margin-top: 20px; margin-bottom: 20px;}
th, td { background-color: #1a1a1a; border: 1px solid white; padding: 8px; text-align: center; }

/* better lists */
ul { list-style-type: circle; }
li { margin-bottom: 5px; }

/* table of contents */
#table-of-contents {
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 10px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#table-of-contents h2 { color: #f1f1f1; margin-left: 10px; margin-top: 5px; margin-bottom: 5px; text-align: left;}
#table-of-contents ul { list-style-type: none; padding-left: 10px; }
#table-of-contents li { margin-bottom: 10px; }
#table-of-contents a { color: #b3b3b3; text-decoration: none; transition: color 0.3s ease; }
#table-of-contents a:hover { color: #f1f1f1; }


/* footnotes */
#footnotes {
  background-color: #1e1e1e;
  padding: 1px 10px 1px 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* .title     { text-align: center; margin-bottom: 0; color: #ECBE7B; } */
.subtitle  { text-align: center; font-size: medium; font-weight: normal; font-style: italic; margin-top:0; color: white; }
.tag       { background-color: #eee; font-family: monospace; padding: 2px; font-size: 80%; font-weight: normal; }
.underline { text-decoration: underline; }
.center    { margin-left: auto; margin-right: auto; }
#postamble { text-align: right; }
#postamble p, #preamble p { font-size: 80%; margin: .2em; }

.icons      {  position: relative; left : 55px; text-align: center; }
.icons span { position: relative; display: inline-block; top: -7px; font-size: 12px; opacity: 0; ; transition: opacity 0.5s ease;  background-color: #18191b;}
.icons img  { max-width: 100%; width: 20px; }
#icon-github span { right:  2px; }
#icon-mail   span { right: -2px; }
#icon-github:hover span { opacity: 1; right: 2px; }
#icon-mail:hover span   { display: inline; opacity: 1; right: -2px; }

/* loading animation for comment section, controlled by js code */
@keyframes loading {
    from { transform: scale(0.9);  opacity: 1;  }
    to   { transform: scale(1.0);  opacity: 0.5;}
}
#comment-section-title { text-align : center; }
.utterances iframe:not(:empty) + #comment-section-title { animation: none; }

/*
 *  START PAGE
 */
[id^="latest-"] { text-align: center; margin: 0px 0px 5px 0px; font-weight: normal; }
[id^="text-latest"] { display: flex; flex-direction: column; }
/* CLICKABLE IMAGES WITH TEXT OVERLAY */
.image-container {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    border: 1px solid;
    border-color: black;
    background-color: #3a3a3a;
    border-radius: 15px;
    overflow: hidden; /* clip elements over border radius */
}
.image-container a {
  display: flex;
  align-items: center;
  text-decoration: none; /* no underlined links */
  color: inherit; /* no blue links */
  transition: background-image 0.5s ease;
  transition: background-position-y 0.5s ease;
  background-position-y: +100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.01), rgba(0,0,0,1));
}
/* alternate image left/right */
.image-container:nth-child(odd)  a { flex-direction: row;         }
.image-container:nth-child(even) a { flex-direction: row-reverse; }
.image-container a .overlay { flex-grow: 1;  padding: 1em; }
.image-container img { width: 30%; max-width: 30%; display: block; }
.overlay {
    /* align-items: center; */
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
    /* transition: background-color 0.5s ease; */
    /* transition: background-image 0.5s ease; */
    /* background-position-x: 0; */

    /* transition: background-position-y 0.5s ease; */
    /* background-position-y: +300px; */
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1)); */
    overflow: hidden; /* used for scroll-in description text */
}
.overlay .title {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    /* padding: 2px 2px 2px 2px; */
    opacity: 1;
    /* background-color: rgba(0, 0, 0, 0.8) !important; */
    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
    color: #FFFFFF;
}
.overlay .description {
    position: absolute;
    bottom: -25%;
    font-size: 16px;
    text-align: center;
    bottom: -10px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 1.5s ease, padding-top 0.5 ease;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1)); */
    transition: all 0.5s ease;
    padding: 0px 5px 0px 5px;
}
/*and (pointer: fine)*/
@media(hover: hover)  {
  .image-container a:hover              { background-position-y: 0px; } /* scroll in gradient */
  .image-container a:hover .overlay     { background-position-y: 0px; } /* scroll in gradient */
  .image-container a:hover .title       { bottom: -0%; background-color: rgba(0, 0, 0, 0.0); }
  .image-container a:hover .description { bottom: 10px; opacity: 1; }
  /*.image-container a:hover .description { opacity: 1;   }*/
}
@media (hover: none) {
  .image-container         .overlay     { background-position-y: +100px; }
  .image-container         .title       { bottom: -0%;  }
  .image-container         .description { bottom: 10px; opacity: 0; }

  /*.image-container a:hover .description { opacity: 1;   }*/
}
@media only screen and (max-width: 768px) {
  #content { padding: 10px 5px 20px 5px; }
  #table-of-contents { margin-left: 0px; margin-right: 0px; }
  #footnotes { margin-left: 0px; margin-right: 0px; }
  .org-src-container .src { margin: 16px 5px 16px 5px;}
  .org-ul { padding: 15px; }
}


/* images */
.figure img { max-width: 70%;  border: 1px solid; border-color: #e6e6e6; }
.figure {
    margin: 0px;
    align-content: center;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* tags date */
.tags-date-box { font-size: 14px; padding: 0px 0px 5px 0px; text-align: center; }
.date { float: left; display: inline-block; }
.tags { display: inline-block; float: right; }

/* article snippets */
.article-snippet { color: inherit; padding: 15px; border-radius: 5px; background-color: #1e1e1e; border: 1px dashed;}

/* read more button */
.read-more {
  text-align: center; align-content: center;
  margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 10px;
}
.read-more a { color: inherit; padding: 5px; border-radius: 5px; background-color: #101010; border: 1px solid;}
.read-more a::before { content: '▽ '; }

/* CODE SYNTAX HIGHLIGHTING */
.org-src-container pre { font-size: 16px; }
.org-src-container pre { color: #FFFFFF !important; background-color: #18191b !important; margin: 16px 20px 16px 20px;}
.org-builtin           { color: #FFFFFF; background-color: #18191b;  }
.org-button            { color: #0066CC; text-decoration: underline; }
.org-comment           { color: #99bb66;                             }
.org-comment-delimiter { color: #99bb66;                             }
.org-constant          { color: #b4916d;                             }
.org-string            { color: #b4916d;                             }
.org-doc               { color: #99bb66; font-style: italic;         }
.org-error             { color: #ff6655;                             }
.org-function-call     { color: #FFFFFF;                             }
.org-function-name     { color: #FFFFFF;                             }
.org-italic            { font-style: italic;                         }
.org-keyword           { color: #ECBE7B;                             }
.org-preprocessor      { color: #ECBE7B;                             }
.org-type              { color: #4db5bd;                             }
.org-link              { color: #0066CC; text-decoration: underline; }
.org-link-visited      { color: #6799CC; text-decoration: underline; }
.example               { color: #FFFFFF; background-color: #18191b; }
