body {
    background-color: #1a1a1a;
    max-width: 861px;
    border: 2px solid;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
}

html { font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif; }

#content {
    max-width: 100%;
    margin: auto;
    background-color: #28292b;
    color: #ffffff;
    padding: 10px 20px 20px 20px;
}

header {
  overflow: clip; /* to clip icons div */
  background-color: #2f2f2f !important;
  padding-top: 2px;
}

nav.nav {
  text-align: center;
  /* list-style-type: none; */
  /* color: #ffffff; */
  background-color: #18191b;
}

a:link {
  color: #46D0FF;
  /* background-color: yellow; */
}

a:visited {
  color: #0170BF;
}

a.nav-link {
  margin: 15px;
  color: #99BB66;
  background-color: #18191b;
  /* text-decoration: none; */
}

p { text-align: justify; text-justify: inter-word; }

code { font-size: 16px; }

@font-face {
  font-family: 'DejaVu Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./dejavuserif.woff2) format('woff2');
}

/* title rule */
h1 a {
  color:           #ECBE7B !important;
  text-decoration: none    !important;
  font-weight: normal;
  font-family:     "DejaVu Serif";
}

/* center all headings */
h2 { text-align: center; font-size: 27px; font-weight: 500; } /* article title */
h3 { font-size: 24px; font-weight: normal; } /* headings in article */
h4 { text-align: center; }
h5 { text-align: center; }

.org-src-container pre { color: #000000; font-size: 16px; }

.title     { text-align: center; margin-bottom: 0; color: #ECBE7B; }
.subtitle  { text-align: center; font-size: medium; font-weight: normal; font-style: italic; margin-top:0; color: white; }
.tag       { background-color: #eee; font-family: monospace; padding: 2px; font-size: 80%; font-weight: normal; }
.underline { text-decoration: underline; }
.center    { margin-left: auto; margin-right: auto; }
#postamble { text-align: right; }
#postamble p, #preamble p { font-size: 80%; margin: .2em; }

.icons      {  position: relative; left : 55px; text-align: center; }
.icons span { position: relative; display: inline-block; top: -7px; font-size: 12px; opacity: 0; ; transition: opacity 0.5s ease;  background-color: black;}
.icons img  { max-width: 100%; width: 20px; /* background-color: white; */ }
#icon-github span { right:  2px; }
#icon-mail   span { right: -2px; }
#icon-github:hover span { opacity: 1; right: 2px; }
#icon-mail:hover span   { display: inline; opacity: 1; right: -2px; }

.side-by-side {
  text-align: center;
}

#outline-container-latest-articles {
  /* align-content: left; */
  /* float: left; */
  display: inline-block;
  max-width: 100%;
  padding-right: 4px;
}
#outline-container-latest-projects {
  /* align-content: right; */
  /* float: right; */
  display: inline-block;
  max-width: 100%;
  padding-left: 4px;
}
#latest-articles { margin: 0px 0px 1px 0px; font-weight: normal; }
#latest-projects { margin: 0px 0px 1px 0px; font-weight: normal; }

/* CLICKABLE IMAGES WITH TEXT OVERLAY */
.image-container {
    position: relative;
    width: 400px;
    height: 225px;
    margin-top: 1px;
    margin-bottom: 1px;

    max-width: 100%;

    /* center the div */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    border: 2px solid;
    border-color: black;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.figure img {
    /* height: auto; */
    max-width: 100%;
    border: 1px solid;
    border-color: #e6e6e6;
}

.figure {
    margin: 0px;
    align-content: center;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.tags-date-box {
  font-size: 14px;
  padding: 0px 0px 5px 0px;
  text-align: center;
}

.date {
  float: left;
  display: inline-block;
}

.tags {
  display: inline-block;
  float: right;
}


.read-more { text-align: center; align-content: center; margin-left: auto; margin-right: auto; margin-top: 5px; }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
    /* transition: background-color 0.5s ease; */
    /* transition: background-image 0.5s ease; */
    transition: background-position-y 0.5s ease;
    /* background-position-x: 0; */
    background-position-y: +300px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    overflow: hidden; /* used for scroll-in description text */
}

.overlay .title {
    position: relative;
    bottom: -40%;
    transition: bottom 0.5s ease;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 2px 2px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    margin-bottom: 0;
    color: #FFFFFF;
}

.overlay .description {
    position: relative;
    bottom: -30%;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-container a:hover .overlay {
    /* opacity: 1; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-position-y: 0px;
}

.image-container a:hover .title       { bottom: -30%; }

.image-container a:hover .description { opacity: 1;   }

/* CODE SYNTAX HIGHLIGHTING */
body {
  color: #FFFFFF;
  background-color: #18191b;
}
.org-src-container pre
{
  color: #FFFFFF !important;
  background-color: #18191b !important;
  margin: 16px 0px 16px 0px;
}
.org-builtin           { color: #FFFFFF; background-color: #18191b;  }
.org-button            { color: #0066CC; text-decoration: underline; }
.org-comment           { color: #99bb66;                             }
.org-comment-delimiter { color: #99bb66;                             }
.org-constant          { color: #b4916d;                             }
.org-string            { color: #b4916d;                             }
.org-doc               { color: #99bb66; font-style: italic;         }
.org-error             { color: #ff6655;                             }
.org-function-call     { color: #FFFFFF;                             }
.org-function-name     { color: #FFFFFF;                             }
.org-italic            { font-style: italic;                         }
.org-keyword           { color: #ECBE7B;                             }
.org-preprocessor      { color: #ECBE7B;                             }
.org-type              { color: #4db5bd;                             }
.org-link              { color: #0066CC; text-decoration: underline; }
.org-link-visited      { color: #6799CC; text-decoration: underline; }
a {
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
